:root {
  --main-color: #ff54a2;
  --main-gradient: linear-gradient(
    rgb(255, 84, 162, 0.7),
    rgb(255, 87, 90, 0.9)
  );
}

h2 {
  font-family: "Kaushan Script", cursive;
  font-weight: 200;
  font-size: 35px;
  color: rgb(255, 87, 90);
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin: 0px 30px;
}

a {
  text-decoration: none;
}



.nav-name {
  font-family: "Kaushan Script", cursive;
}

.nav-name:hover {
  color: var(--main-color);
}

.hero {
  text-align: center;
  padding: 150px 0;
  background: var(--main-gradient);
}

.hero h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 90px;
  margin-bottom: 20px;
  color: white;
}

.hero h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 25px;
  line-height: 1.5;
  color: white;
}

.hero p {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: white;
}

.project-pic {
  background: var(--main-gradient);
  width: 300px;
}
