:root {
  --main-color: rgb(255, 87, 90);
  --vertical-gradient: linear-gradient(
    rgb(255, 84, 162, 0.7),
    rgb(255, 87, 90, 0.9)
  );
  --purple-gradient: linear-gradient(-225deg, #ff54a2 0%, #42a5f5 80%);
  --text-font: "Raleway", sans-serif;
  --name-font: "Kaushan Script", cursive;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 60% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

body {
  margin-bottom: 100px;
}

.margin-top {
  margin-top: 100px;
}

h1 {
  font-family: var(--name-font);
  margin-bottom: 20px;
  color: white;
}

h2 {
  font-family: var(--name-font);
  font-weight: 200;
  font-size: 35px;
  color: rgb(255, 87, 90);
  text-align: left;
}

p {
  font-family: var(--text-font);
  text-align: left;
  margin: 15px 50px;
}

a {
  text-decoration: none;
}

.colorLine1 {
  position: relative;
}

.colorLine1::after {
  content: "";
  width: 5px;
  height: 100%;
  background: var(--vertical-gradient);
  position: absolute;
  left: -20px;
  top: 0px;
}

.bgImgColor {
  background: var(--purple-gradient);
  animation: change 7s ease-in-out infinite;
  width: 100%;
  height: 100vh;
  background-size: 400% 400%;
  position: relative;
}

.nav-name {
  font-family: var(--name-font);
}

.nav-name:hover {
  /* color: #B274C3; */
  /* color:#8588D7; */
  color: hotpink;
}
/* 
.links{
  padding-top: 250px;
} */

.hero {
  text-align: center;
  padding: 200px 0;
}

.hero h1 {
  font-size: 120px;
}

.hero h3 {
  font-family: var(--text-font);
  font-weight: 200;
  font-size: 25px;
  line-height: 1.5;
  color: white;
}

.hero p {
  font-family: var(--text-font);
  font-weight: 200;
  font-size: 25px;
  color: white;
  text-align: center;
}

.hero a {
  margin-top: 50px;
  color: white;
  font-size: 30px;
}

.down-icon {
  color: white;
  font-size: 60px;
  margin: 80px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.title {
  text-transform: uppercase;
  font-family: var(--text-font);
  font-weight: 300;
  text-align: left;
  color: grey;
  margin-top: 60px;
  /* font-size: 24px; */
}

.weather-content {
  position: relative;
  top: 100px;
}

.weather-img-thmb {
  background: var(--vertical-gradient);
}

.project-coming-soon{
  width: 300px;
  height: 300px;
  margin: 0;
  font-size: 30px;
  padding: 110px 50px;
  text-align: center;
}

.icons {
  margin-left: 50px;
  font-size: 25px;
  color: var(--main-color);
  opacity: 0.7;
}

.project-btn-primary {
  color: white;
  background: var(--vertical-gradient);
  font-family: var(--text-font);
  /* border-color: #ff54a2; */
}

.project-btn-primary:hover {
  background: white;
  color: var(--main-color);
  border-color: var(--main-color);
}

.project-btn-secondary {
  color: var(--main-color);
  border-color: var(--main-color);
  background: white;
  opacity: 100%;
}

/* .project-btn-secondary:hover {
  color: white;
  background: var(--vertical-gradient);
} */

.about-bg {
  background-color: rgb(33, 37, 41);
  opacity: 1;
}

.about-header {
  margin-top: 100px;
}

.about-name {
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
}

.about-name p {
  text-align: center;
  margin: 0;
  font-size: 30px;
  color: white;
  font-weight: 300;
}

.about-name h1 {
  text-align: center;
  font-size: 80px;
}

.about-name h3 {
  font-family: var(--text-font);
  text-align: center;
  line-height: 1.5;
  color: white;
  font-size: 25px;
  font-weight: 300;
}

.view-projects-btn {
  width: 150px;
  height: 150px;
  /* margin: 50px; */
  text-align: center;
  padding-top: 40px;
  color: white;
  border-color: white;
  text-decoration: none;
  font-family: var(--text-font);
  text-transform: uppercase;
  font-size: 20px;
  background: linear-gradient(to right, hotpink, lightpink);
}

.view-projects-btn:hover {
  color: white;
  border-color: black;
}

.rightArrow {
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-size: 30px;
}

.about-content h4 {
  font-size: 30px;
}

.about-content ul {
  padding: 0 80px;
  list-style: none;
}

.about-content ul li {
  font-size: 20px;
  font-family: var(--text-font);
  font-weight: 200;
  margin: 15px;
}

.contact-header {
  color: grey;
  opacity: 0.5;
  font-size: 60px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 100px;
}

@media (max-width: 1200px) {
  .weather-content {
    top: 0px;
  }

  .about-header {
    max-width: 576px;
  }

  /* .about-pic {
    top: -100px;
    width: 300px;
  }

  .view-projects-btn {
    width: 150px;
    height: 150px;
    font-size: 20px;
    padding-top: 35px;

    position: relative;
    top: -240px;
    left: 40px;
  }

  .rightArrow {
    font-size: 30px;
  } */
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 90px;
  }

  .weather-img {
    width: 400px;
  }

  .weather-content {
    margin-left: 60px;
  }

  .about-header {
    display: flex;
    justify-content: center;
  }

  /* .about-pic {
    top: -100px;
    width: 300px;
  }

  .view-projects-btn {
    width: 150px;
    height: 150px;
    font-size: 20px;
    padding-top: 35px;

    position: relative;
    top: -240px;
    left: 40px;
  }

  .rightArrow {
    font-size: 30px;
  } */

  .about-name {
    width: 400px;
    height: 400px;
  }

  .about-name h1 {
    font-size: 65px;
  }

  .about-name p {
    font-size: 25px;
  }

  .about-name h3 {
    font-size: 20px;
  }
}
